@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-weight-light: 300;
  --color-text: hsl(222deg, 22%, 5%);
  --color-background: hsl(0deg, 0%, 100%);
  --color-primary: hsl(245deg, 100%, 60%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.666;
  -webkit-font-smoothing: antialiased;
  line-height: calc(1em + 0.725rem);
  color: var(--color-text);
  font-weight: var(--font-weight-light);
  background: var(--color-background);
  transition: color 350ms ease 0s, background 350ms ease 0s;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--color-primary);
}

li {
  text-align: -webkit-match-parent;
}

#root,
#__next {
  isolation: isolate;
}
